* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerWrapper {
    height: 50vh;
    width: 100%;
    background-image: url("./images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 20% center;
    background-size: 100% 100%;
    font-family: var(--font, 'sans-serif');
    color: white;
    display: flex;
    justify-content: center;
}

.menuWrapper {
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 20%;
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 40%;
}

.menu {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu p {
    font-size: max(1rem, 1vw);
}