.standContainerWrapper {
    height: 180vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 2% / 1%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.standContainerWrapper * {
    width: 90%;
}

.standContainerTitle {
    font-size: max(1.1rem, 1.1vw);
    font-weight: 700;
}

.standContainerDescription {
    font-size: max(0.9rem, 0.9vw);
    color: var(--darkGray);
}

@media screen and (max-width: 1250px) {
    .standContainerWrapper {
        height: 270vh;
        width: 85%;
    }

    .standContainerTitle {
        font-size: 1rem;
        margin: 2vh;
    }

    .standContainerDescription {
        font-size: 0.9rem;
        margin-bottom: 1vh;
    }
}